// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: rgb(230, 230, 230) !default;
$color-primary: #a03f3f !default;
$color-secondary: #5c594b !default;
$color-tertiary: #f6f6f4 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;