<div class="row">
    <div class="column panel">
        <h3>Device</h3>
        <select [(ngModel)]="selectedDeviceId" (change)="onDeviceIdChange()">
            <option [ngValue]="deviceId" *ngFor="let deviceId of deviceIds">{{deviceId}}</option>
        </select>
        <div class="pathInfo">
            <h4>
                <table>
                    <tr>
                        <td>
                            <b>Longitude: </b>
                        </td>
                        <td>
                            {{latitude | number:'3.7-7' | sign}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Latitude: </b>
                        </td>
                        <td>
                            {{longitude | number:'3.7-7' | sign}}
                        </td>
                    </tr>
                </table>
            </h4>

        </div>
    </div>
    <div class="column column-75">
        <div class="map">
            <agm-map id="map" [latitude]="latitude" [longitude]="longitude" [zoom]="12">
                <agm-polyline [strokeColor]="'#f00'" [strokeWeight]="'2'" [strokeOpacity]="'0.5'">
                    <ng-container *ngFor="let position of positions">
                        <agm-polyline-point [latitude]="position?.x" [longitude]="position?.y"></agm-polyline-point>
                    </ng-container>
                </agm-polyline>
            </agm-map>
        </div>
    </div>
</div>