<div class="row">
    <div class="column">
        <h3>Device</h3>
        <select [(ngModel)]="selectedDevice" (change)="onDeviceChange()">
            <option [ngValue]="device" *ngFor="let device of devices">{{device?.deviceId}}</option>
        </select>
        <div class="pathInfo">
            <h3>Center</h3>
            <h4><b>X: </b>{{latitude | number:'3.5-5'}}</h4>
            <h4><b>Y: </b>{{longitude | number:'3.5-5'}}</h4>
        </div>
    </div>
    <div class="column column-80">
        <agm-map id="map" [latitude]="latitude" [longitude]="longitude">
            <agm-polyline [strokeColor]="'#000'">
                <ng-container *ngFor="let position of selectedDevice?.positions">
                    <agm-polyline-point [latitude]="position?.x" [longitude]="position?.y"></agm-polyline-point>
                </ng-container>
            </agm-polyline>
        </agm-map>
    </div>
</div>